.contactContainer {
  height: 145vh;
  width: 100%;
  overflow-x: hidden;
}

/* .sheepImage {
  display: none;
} */

.lamb {
  display: none;
}

.unicornImage {
  position: relative;
}

.unicornImage img {
  position: absolute;
  top: 30vh;
  right: -65vw;
  width: auto;
  height: 100vh;
  z-index: -1;
}

.descriptionContact {
  width: 80vw;
  padding: 0 1.5rem;
  margin: 0 auto;
  text-align: justify;
}

.contacts {
  width: 50vw;
  padding: 0 1.5rem;
}

.contacts h1 {
  text-align: center;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  width: 65vw;
  padding: 0 2rem;
}

.socialBox {
  display: flex;
  padding-bottom: 1rem;
}

.socialBox a {
  text-decoration: none;
  color: #1f2b37;
}

.social {
  padding-right: 1rem;
  font-size: 2.5rem;
  color: #ff68bc;
}

.mail {
  padding: 0 1.5rem 0 0;
  font-size: 3.5rem;
  color: #ff68bc;
}

@media (min-width: 360px) and (min-height: 640px) {
  .contactContainer {
    height: 115vh;
  }

  .unicornImage img {
    top: 20vh;
    right: -65vw;
  }

  .socialContainer {
    width: 45vw;
  }
}

@media (min-width: 360px) and (min-height: 740px) {
  .contactContainer {
    height: 100vh;
  }
  
  .unicornImage img {
    top: 15vh;
    right: -83vw;
  }

  .socialContainer {
    width: 40vw;
  }
}

@media (min-width: 390px) {
  .contactContainer {
    height: 90vh;
  }

  .descriptionContact {
    width: 55vw;
    margin: 0;
  }

  .unicornImage img {
    top: -5vh;
    right: -90vw;
  }
}

@media (min-width: 410px) {
  .contactContainer {
    height: 85vh;
  }

  .unicornImage img {
    top: -8vh;
    right: -95vw;
  }
}

@media (min-width: 600px) {
  .contactContainer {
    height: 70vh;
  }

  .unicornImage img {
    top: -8vh;
    right: -60vw;
  }

  .descriptionContact {
    padding: 1rem 3rem 0 3rem;
  }

  .contacts,
  .socialContainer  {
    padding: 0 4rem;
  }
}

@media (min-width: 768px) {
  .contactContainer {
    height: 63vh;
  }

  .unicornImage img {
    top: -12vh;
    right: -40vw;
  }

  .descriptionContact {
    width: 50vw;
    padding: 1rem 5rem 0 5rem;
  }

  .contacts,
  .socialContainer  {
    padding: 0 5rem;
  }
}

@media (min-width: 1024px) {
  .contactContainer {
    height: 100vh;
  }

  .unicornImage img {
    top: 0;
    right: 0;
  }

  img.lamb {
    display: block;
    position: absolute;
    top: 0;
    left: -5vw;
    width: 15%;
    height: auto;
  }

  .descriptionContact {
    width: 55vw;
    padding: 1.5rem 6rem 0 6rem;
  }

  .contacts {
    padding: 0 6rem;
  }

  .socialContainer {
    position: relative;
    width: 35vw;
    height: 35vh;
    padding: 2.5rem 1.5rem 2rem 2rem;
    margin-left: 10rem;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    background-color: #e7e9f1;
  }

  .socialContainer::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -17px;
    transform: rotate(-45deg);
    border-width: 20px;
    border-style: solid;
    border-color: #e7e9f1;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 4px ;
  }

  .social,
  .mail {
    color: #ac0560;
  }

  .social:hover {
    color: #1f2b37;
  }

  .socialBox a:hover {
    color: #ac0560;
  }
}

@media (min-width: 1280px) {
  img.lamb {
    top: 0;
    left: -2vw;
  }

  .descriptionContact {
    padding: 1.5rem 7rem 0 13rem;
  }

  .contacts {
    padding: 0 13rem;
  }

  .socialContainer {
    width: 30vw;
    height: 38vh;
    padding: 2rem 1.5rem 1.3rem 2.5rem;
    margin-left: 20rem;
  }
}