.footerContainer {
  height: 10vh;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: #1f2b37;
  color: whitesmoke;
  overflow-y: hidden;
}

.footerContainer p {
  width: 80vw;
  margin: 0 auto;
  font-size: 0.9rem;
  text-align: center;
}

.author {
  color: #ff68bc;
}

@media (min-width: 360px) and (min-height: 640px) {
  .footerContainer {
    height: 9vh;
  }
}

@media (min-width: 360px) and (min-height: 740px){
  .footerContainer {
    height: 8vh;
  }
}

@media (min-width: 390px) {
  .footerContainer p {
    font-size: 1rem;
  }
}

@media (min-width: 600px) {
  .footerContainer {
    padding: 0;
  }

  .footerContainer p {
    line-height: 8vh;
  }
}

@media (min-width: 1024px) {
  .footerContainer {
    height: 10vh;
  }

  .footerContainer p {
    line-height: 10vh;
  }
}