.hireContainer{
  position: absolute;
  top: 100vh;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #dfe4f4;
  overflow-x: hidden;
}

.hireImage {
  width: 100%;
  height: 100%;
}

.hireImage img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-8%);
  height: 100%;
}

@media (min-width: 360px) and (min-height: 640px) {
  .hireImage img {
    transform: translateX(-10%);
  }
}

@media (min-width: 360px) and (min-height: 740px) {
  .hireImage img {
    transform: translateX(-15%);
  }
}

@media (min-width: 390px) {
  .hireImage img {
    transform: translateX(-17%);
  }
}
/* 
@media (min-width: 410px) {
  .hireImage img {
    transform: translateX(-18%);
  }
} */

@media (min-width: 600px) {
  .hireImage img {
    transform: translateX(-6%);
  }
}

@media (min-width: 768px) {
  .hireImage img {
    transform: translateX(3%);
  }
}

@media (min-width: 1024px) {
  .hireContainer {
    top: 0;
    left: 0;
    background-color: transparent;
  }

  .hireImage img {
    top: 0;
    left: 60vw;
    transform: translateX(0);
    height: 90%;
  }
}