.headerContainer {
  height: 200vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../img/cover_background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.welcomePicture {
  display: block;
  width: 80vw;
  padding: 1rem 2rem 0 2rem;
  margin: 0 auto;
}

.text {
  padding: 0 2.5rem;
}

.text h1:nth-of-type(1) {
  margin-bottom: 0.3rem;
}

.underlineTitle {
  height: 1vh;
  width: 70vw;
  background-color: #1f2b37;
}

.textFlip {
  display: flex;
  flex-basis: 70vw;
  padding-top: 0;
}

@media (min-width: 360px) {
  .headerBack {
    padding-top: 3rem;
  }

  .text {
    padding: 0.5rem 2.5rem;
  }
}

@media (min-width: 390px) {
  .headerBack {
    padding-top: 5rem;
  }

  .text {
    padding: 2rem 2.5rem;
  }
}

@media (min-width: 600px) {
  .text {
    width: 70vw;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .welcomePicture {
    width: 50vw;
  }

  .text {
    width: 60vw;
    padding: 3rem 2.5rem;
    font-size: 1.5rem;
  }

  .underlineTitle {
    width: 65vw;
  }

  .textFlip {
    flex-basis: 60vw;
  }

  .textFlip h1 {
    margin-top: 1.4rem;
    padding-right: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .headerContainer {
    position: relative;
    height: 100vh;
  }

  .headerBack {
    padding-top: 2rem;
  }

  .welcomePicture {
    width: 20vw;
    padding: 1rem 5rem 0 5rem;
    margin: 0;
  }

  .text {
    width: 50vw;
    padding: 0.8rem 4rem;
    margin: 0;
  }

  .underlineTitle {
    width: 50vw;
  }
}