.portfolioContainer {
  height: 525vh;
  width: 100%;
  overflow: hidden;
}

.portfolioContainer h1 {
  width: 90vw;
  padding: 1.5rem 0 0.5rem 0;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  height: 1vh;
  width: 85vw;
  margin: 0 auto;
  background-color: #1f2b37;
}

/* PROJECTS PART */

.grid {
	position: relative;
  width: 80vw;
  padding: 1.5rem;
	margin: 0 auto;
}

.grid .flexContainer figure {
	position: relative;
  width: 100%;
	height: auto;
  max-width: 480px;
	max-height: 360px;
  margin: 10px 1%;
  /* margin: 0 auto; */
  background-color: #3085a3;
  text-align: center;
	cursor: pointer;
	overflow: hidden;
}

.grid .flexContainer figure img {
	position: relative;
  display: block;
  width: 90vw;
  min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid .flexContainer figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid .flexContainer figure figcaption::before,
.grid .flexContainer figure figcaption::after {
	pointer-events: none;
}

.grid .flexContainer figure figcaption,
.grid .flexContainer figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid .flexContainer figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid .flexContainer figure p {
	margin: 0;
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effectApollo {
  width: 80vw;
	background-color: #3498db;
}

figure.effectApollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effectApollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effectApollo p {
	position: absolute;
	right: 15%;
	bottom: 20%;
  max-width: 150px;
	padding: 0 1em;
  margin: 3em;
	border-right: 4px solid #fff;
	text-align: right;
  font-weight: bold;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effectApollo:hover img {
	opacity: 0.6;
}

figure.effectApollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effectApollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

/* PROJECT DESCRIPTION */

.projectDescription h2,
.boxIcon  {
  text-align: center;
}

.projectDescription p {
  text-align: justify;
}

.icon {
  font-size: 1.5rem;
  padding: 0 0.3rem;
}

.linksContainer {
  display: flex;
  width: 80vw;
  justify-content: space-around;
}

button {
  display: block;
  width: 35vw;
  padding: 0.5rem 2rem;
  margin: 1.8rem auto;
  border: 1.5px solid #000;
  border-radius: 25px;
  background-color: #1f2b37;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 0.8rem;
  font-weight: bold;
}

button:hover {
  background-color: #ff68bc;
}

button:hover a {
  color: #1f2b37;
}

@media (min-width: 360px) and (min-height: 640px) {
  .portfolioContainer {
    height: 445vh;
  }
}

@media (min-width: 360px) and (min-height: 740px) {
  .portfolioContainer {
    height: 385vh;
  }
}

@media (min-width: 390px) {
	.portfolioContainer {
	  height: 345vh;
	}
}

@media (min-width: 410px) {
	.portfolioContainer {
	  height: 320vh;
	}
}

@media (min-width: 600px) {
  .portfolioContainer {
	  height: 340vh;
	}

	.portfolioContainer h1 {
    width: 75vw;
  }
}

@media (min-width: 768px) {
  .portfolioContainer {
    height: 310vh;
  }

	.grid .flexContainer figure.effectApollo {
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .portfolioContainer {
    height: 375vh;
  }

  .grid {
    padding: 0;
    margin: 0;
  }

  .flexContainer {
    display: flex;
    width: 90vw;
    height: 70vh;
    /* justify-content: space-around; */
    padding-top: 1rem;
    padding-left: 3rem;
    margin: 0 auto;
  }

  .flexContainer:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .grid .flexContainer figure {
    flex-grow: 1;
  }

  .projectDescription {
    width: 40vw;
    box-sizing: border-box;
    padding: 1rem 2rem;
  }

  .linksContainer {
    width: 35vw;
  }

  button {
    width: 15vw;
  }
}

@media (min-width: 1280px) {
  .portfolioContainer {
    height: 333vh;
  }

  .portfolioContainer h1 {
    padding-top: 3.5rem;
  }

  .underline {
    margin-bottom: 1.5rem;
  }

  .flexContainer {
    height: 60vh;
  }
}

@media (min-width: 1366px) {
  .portfolioContainer {
    height: 340vh;
  }

  .flexContainer {
    width: 80vw;
    padding-left: 8rem;
  }
}