.toolboxContainer {
  height: 280vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #1f2b37;
  color: whitesmoke;
}

.toolboxContainer h1, 
.toolboxContainer h2 {
  width: 90vw;
  margin: 0 auto;
  padding: 1.5rem 0 0.5rem 0;
  text-transform: uppercase;
}

.underline {
  height: 1vh;
  width: 85vw;
  margin: 0 auto;
  background-color: whitesmoke;
}

.iconsContainer {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 1rem;
}

.boxIcon {
  display: flex;
  flex-direction: column;
  flex-basis: 5vh;
  padding: 0.5rem 1rem;
}

.icon {
  font-size: 4rem;
}