.toolboxContainer {
  height: 280vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #1f2b37;
  color: whitesmoke;
}

.toolboxContainer h1, 
.toolboxContainer h2 {
  width: 90vw;
  padding: 1.5rem 0 0.5rem 0;
  margin: 0 auto;
  text-transform: uppercase;
}

.underline {
  height: 1vh;
  width: 85vw;
  margin: 0 auto;
  background-color: whitesmoke;
}

.iconsContainer {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1rem;
  margin: 0 auto;
}

.boxIcon {
  display: flex;
  flex-direction: column;
  flex-basis: 5vh;
  padding: 0.5rem 1rem;
}

.icon {
  font-size: 4rem;
}

@media (min-width: 360px) and (min-height: 640px) {
  .toolboxContainer {
    height: 235vh;
  }

  .icon {
    padding: 0 0.5rem;
  }
}


@media (min-width: 360px) and (min-height: 740px) {
  .toolboxContainer {
    height: 205vh;
  }

  .icon {
    padding: 0 0.5rem;
  }
}

@media (min-width: 390px) {
  .toolboxContainer {
    height: 180vh;
  }

  .toolboxContainer h1 {
    width: 80vw;
  }
}

@media (min-width: 410px) {
  .toolboxContainer {
    height: 165vh;
  }
}

@media (min-width: 600px) {
  .toolboxContainer {
    height: 100vh;
  }

  .toolboxContainer h1, 
  .toolboxContainer h2 {
    width: 75vw;
  }
}

@media (min-width: 768px) {
  .toolboxContainer {
    height: 93vh;
  }
}

@media (min-width: 1024px) {
  .toolboxContainer {
    height: 105vh;
  }

  .toolboxContainer h1 {
    padding-top: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .toolboxContainer h1 {
    padding-top: 4rem;
  }

  .underline {
    margin-bottom: 0.5rem;
  }
}